.button {
	border-radius: 8px;
	background-color: #eee;
	padding: 16px 20px;
	border: 0;
	cursor: pointer;
}

.button--green {
	background-color: #64c964;
	color: white;
}

.button--red {
	background-color: tomato;
	color: white;
}
