.content__editor {
	display: flex;
	flex-direction: column;
	gap: 20px;
	height: 100%;

	.box__date,
	.box__emotion,
	.box__diary {
		padding: 10px 0;
	}

	.title {
		font-size: 18px;
		font-weight: 500;
		margin-bottom: 8px;
	}
}

.emotion-list {
	display: flex;
	gap: 16px;
	justify-content: center;

	.button__emotion {
		width: 96px;
		background-color: rgb(236, 236, 236);
		display: flex;
		flex-direction: column;
		align-items: center;
		cursor: pointer;
		padding: 16px 0;
		border-radius: 6px;
		border: 0;

		&:nth-child(1).is-active {
			background-color: var(--color-emotion-01);
			color: white;
		}

		&:nth-child(2).is-active {
			background-color: var(--color-emotion-02);
			color: white;
		}

		&:nth-child(3).is-active {
			background-color: var(--color-emotion-03);
			color: white;
		}

		&:nth-child(4).is-active {
			background-color: var(--color-emotion-04);
			color: white;
		}

		&:nth-child(5).is-active {
			background-color: var(--color-emotion-05);
			color: white;
		}
	}

	.image__emotion {
		width: 36px;
		pointer-events: none;
		margin-bottom: 8px;
	}

	.text__emotion {
		pointer-events: none;
	}
}

.textarea {
	background-color: rgb(236, 236, 236);
	border: 0;
	border-radius: 6px;
	padding: 20px;
	width: 100%;
	min-height: 200px;
	resize: none;
}
