@font-face {
	font-family: "NanumGothic";
	src: url("/fonts/NanumGothic.ttf");
}

body {
	font-family: "NanumGothic";
	margin: 20px;
}

#root {
	background-color: white;
	max-width: 600px;
	margin: 0 auto;
	min-height: 800px;
	box-shadow: rgba(100, 100, 100, 0.2) 0 0 29px 0;
}

.header {
	display: flex;
}
