@font-face {
	font-family: "NanumGothic";
	src: url("/fonts/NanumGothic.ttf");
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

body {
	font-family: "NanumGothic";
	margin: 20px;
}

#root {
	background-color: white;
	max-width: 600px;
	margin: 0 auto;
	min-height: 800px;
	box-shadow: rgba(100, 100, 100, 0.2) 0 0 29px 0;
}

.header {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #e0e0e0;
	padding: 16px 20px;
}

/* 버튼 */
.button {
	border-radius: 6px;
	padding: 4px 8px;
	background-color: #e0e0e0;
	border: 0;
	cursor: pointer;
}

.button--green {
	background-color: green;
	color: white;
}

.button--red {
	background-color: tomato;
	color: white;
}
