* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}

ul,
li {
	list-style: none;
}

@font-face {
	font-family: "NanumGothic";
	src: url("/fonts/NanumGothic.ttf");
}

:root {
	--color-emotion-01: rgba(100, 201, 100);
	--color-emotion-02: rgba(157, 215, 114);
	--color-emotion-03: rgba(253, 206, 23);
	--color-emotion-04: rgba(253, 132, 70);
	--color-emotion-05: rgba(253, 86, 95);
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

body {
	font-family: "NanumGothic";
	margin: 20px;
}

#root {
	background-color: white;
	max-width: 600px;
	min-height: 800px;
	margin: 0 auto;
	box-shadow: rgba(100, 100, 100, 0.2) 0 0 29px 0;
}

/* 공통 */

.content {
	padding: 0 20px;
}

.button-wrap {
	display: flex;
	gap: 8px;
	margin: 16px 0;

	.button {
		flex: 1;
	}
}
